@import url('https://fonts.googleapis.com/css2?family=Lato&family=Raleway&display=swap');

body {
    font-weight: 300;
    font-size: 16px;
    color: #b4b0b0;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    /*margin-top: 70px;*/
    max-width: 1280px;
    margin: 0 auto;
    background: #f2f2f2;
    box-shadow: 0 0 3px rgba(122,122,122,0.5);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway";
    font-weight: 300;
    color: #333333;
}

p {
    font-family: "Raleway";
    font-weight: 300;
    line-height: 28px;
    margin-bottom: 5px;
}

.centered {
    text-align: center;
}
.righted {
    text-align: right;
}
a {
    color: #f85c37
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

a:hover, a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

.navbar {
    font-weight: 800;
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 135px;
    max-width: 1280px;
    margin: 0 auto;
    border: unset;
    border-radius: unset;
    border-left: #cbcbcb solid 1px;
    border-right: #cbcbcb solid 1px;
}
.navbar-nav {
    margin-top: 20px;
}

.navbar-toggle {
    background: #a7a7aa;
}

.navbar-inverse {
    background: #ffffff;
}
.navbar-inverse .navbar-nav > li > a {
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 600;
    color: #002f3d;
    transition: 100ms linear;
}

.navbar-inverse .navbar-nav > .active > a {
    padding-top: 5px;
    padding-bottom: 5px;
    border: #5e5e5e solid 1px;
    /*border-bottom: #5e5e5e solid 1px;*/
    background: #e2e4e6;
    border-radius: 3px;
    color: #002f3d;
    transition: 100ms linear;
}

.navbar-inverse .navbar-nav > .active > a:hover{
    background:  #5e5e5e;


}

.navbar-collapse {
    margin-top: 10px;
}

.navbar-brand-large {
    padding-top: -10px;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #929292;
    transition: 100ms linear;
}

navbar-brand-small-wrapper {
    margin: 0 auto;
}

.contact-block {
    display: block;
    text-align: right;
    color: #002f3d;
}

.contact-block a {
    font-family: "Lato";
    font-weight: 600;
    color: #002f3d;
}

.contact-block a:hover {
    color: #494949;
}

@media (max-width: 768px) {
    .navbar-brand-large {
        display: none;
    }
    .navbar-brand-small-wrapper {
        display: block;
        padding-left: 20px;
        padding-top: 10px;
    }

    .contact-block a {
        font-size: 1.4em;
    }

    .navbar-collapse ul li {
        font-size: 1.5em;
        text-align: center;
    }
}

@media (min-width: 768px) {

    .navbar-brand-small-wrapper {
        display: none;
    }
}

.simple-slider {
    display: none;
    border-top: 1px solid #5e5e5e;
    border-bottom: 1px solid #5e5e5e;
}

.slider-item img {
    width: 100%;
}

.company-features {
    display: none;
    background:#fff;
    padding:30px 0 35px 0;
    border-right: #cbcbcb solid 1px;
    border-left: #cbcbcb solid 1px;
}

.features-ul-block {
    margin: 15px auto;
    align-content: center;
}

.features-ul {
    text-align: center;
}

.features-ul > li {
    list-style: none;
    display: inline-block;
}

.electrotext {
    color:#333333;
    font-size: 20px;
    padding-left:35px;
    text-align: center;
    font-weight: 400;
}
.electrotext p {
    font-family: Raleway;

}

.features-icon {
    margin: 5px;
    width: auto;
    max-width: 220px;
    height: 70px;
    background: #fff;
    display: flex;
}

.features-ul-wrap {
    margin: 0 auto;
}

.features-icon div img {
    display: block;
    text-align: left;
    padding: 2px 5px 2px 2px;
}

.features-icon div {
    font-family: Raleway;
    font-size: 20px;
    text-align: center;
    display: block;
    margin: auto 4px auto;
    color:#333333;
    line-height: 1.2;
}

@media (max-width: 1010px) {

    .features-ul {
        margin-left: -25px;
    }

    .features-ul > li {
        display:block;
    }
    .features-ul-wrap {
        width: 400px;
    }

    .features-icon {
        width: auto;
        max-width: 320px;
    }

}

.container-benefits p {
        font-size: 19px;
}

.benefits {
    display: none;
    padding: 25px 0;
    background: #fff;
    color: #5e5e5e;
    border-bottom: #1B554E4C 2px solid;
    border-right: #cbcbcb solid 1px;
    border-left: #cbcbcb solid 1px;

}

@media (min-width: 1120px) {
    .benefits {
        padding-left: 120px;
        padding-right: 120px;

    }
}

@media (max-width: 870px) {
    .benefits {
        padding-left: 30px;
    }
}


h3 {
    font-weight: bold;
}

#content {
    display: none;
    background-color: #fff;
    padding-bottom: 10px;
    border-bottom: #1B554E4C 2px solid;
    border-right: #cbcbcb solid 1px;
    border-left: #cbcbcb solid 1px;
}

.skill-home {
    padding: 40px 20px 10px 20px;
}

.fields {
    display: none;
    padding: 10px 0 20px 0;
    padding-top: 20px;
    background: #fff;
    border-bottom: #1B554E4C 2px solid;
    border-top: #1B554E4C 2px solid;
    border-right: #cbcbcb solid 1px;
    border-left: #cbcbcb solid 1px;
}

.fields-block {
    padding-bottom: 5px;
}

.textimbox {
    background-color: #EFEFEF;
    margin: 5px 0;
    padding: 1px 15px;
    border-radius: 3px;
    border: #cbcbcb solid 1px;
}

.textimbox-maintext {
    padding-top: 10px;
    padding-left:  25px;
    padding-right:  25px;
}
.bold {
    font-weight: bold;
}

.textimbox h3 {
    margin: 0;
    padding: 22px 0 12px;
    font-size: 18px;
}

.textimbox p {
    font-family: "Raleway";
    color:#333333 ;
}

.img-class {
    text-align: center;
}

.direction-img {
    width: 280px;
    padding: 15px 0;
}

.footer {
    display: none;
    background: #ebecec;
    border-right: #cbcbcb solid 1px;
    border-left: #cbcbcb solid 1px;
    border-bottom: #cbcbcb solid 1px;
    margin-bottom: 10px;
}

.advantages {
    color: #333333;
}


.footer-container{
    padding: 20px;
    border-top: #a5a5a5;
    border-radius: 3px;
}

.links > ul > li > a {
    text-decoration: none;
    font-size: 12px;
}

.links span {
    display: block;
    padding-left: 20px;
    padding-bottom: 5px;
}

.footer-contacts a {
    font-family: "Lato";
    font-size: 12px;
    color: #5e5e5e;
}

.footer-contacts {
    padding-top:10px;
    padding-left: 20px;
    display: block;
}

.footer-where {
    padding-top:10px;
    padding-left: 20px;
    display: block;

}

.page-contacts {
    display: none;
    padding: 0 50px 240px 20px;
    border-top: #1B554E4C 2px solid;
    border-bottom: #1B554E4C 2px solid;
    border-left: #cbcbcb solid 1px;
    border-right: #cbcbcb solid 1px;
    background: #ffffff;
    font-size: 20px;
}

.page-contacts p {
     color: #5e5e5e;
 }

.page-contacts a {
    font-family: "Lato";
    color: #5e5e5e;
}

.page-projects-content {
    display: none;
    border-top: #cbcbcb 2px solid;
    border-bottom: #cbcbcb 2px solid;
    border-right: #cbcbcb solid 1px;
    border-left: #cbcbcb solid 1px;

    background: #ffffff;
    padding-bottom: 40px;
}

.gallery {
    height: auto;
    margin: 0 auto;
    padding: 10px;
}

.img-gallery {
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:center;

}

.img-gallery img {
    padding: 5px;
    width:220px;
    height:220px;
    margin: 5px 5px;
    object-fit:cover;
}

.img-gallery img:hover {
    border-bottom: 1px solid #cbcbcb;
    transition-duration:500ms;

}

.services {
    font-family: "Raleway";
    color: #333333;
}
