@import url('https://fonts.googleapis.com/css2?family=Lato&family=Raleway&display=swap');

body {
    font-weight: 300;
    font-size: 16px;
    color: #b4b0b0;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    /*margin-top: 70px;*/
    max-width: 1280px;
    margin: 0 auto;
    background: #f2f2f2;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway";
    font-weight: 300;
    color: #333333;
}

p {
    font-family: "Raleway";
    font-weight: 300;
    line-height: 28px;
    margin-bottom: 5px;
}

.centered {
    text-align: center;
}
.righted {
    text-align: right;
}
a {
    color: #f85c37
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

a:hover, a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

.navbar {
    font-weight: 800;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 135px;
    max-width: 1280px;
    margin: 0 auto;
    border: unset;
    border-radius: unset;
}
.navbar-nav {
    margin-top: 20px;
}

.navbar-toggle {
    background: #a7a7aa;
}

.navbar-inverse {
    background: #ffffff;
}
.navbar-inverse .navbar-nav > li > a {
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: 600;
    color: #002f3d;

}
.navbar-inverse .navbar-nav > .active > a {
    padding-top: 5px;
    padding-bottom: 5px;
    border: #5e5e5e solid 1px;
    /*border-bottom: #5e5e5e solid 1px;*/
    background: #e2e4e6;
    border-radius: 3px;
    color: #002f3d;
}

.navbar-collapse {
    margin-top: 10px;
}

.navbar-brand-large {
    padding-top: -10px;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #FF898989;
}

navbar-brand-small-wrapper {
    margin: 0 auto;
}

.contact-block {
    display: block;
    text-align: right;
    color: #002f3d;
}

.contact-block a {
    font-family: "Lato";
    font-weight: 600;
    color: #002f3d;
}

.contact-block a:hover {
    color: #494949;
}

@media (max-width: 768px) {
    .navbar-brand-large {
        display: none;
    }
    .navbar-brand-small-wrapper {
        display: block;
        padding-left: 20px;
        padding-top: 10px;
    }

    .contact-block a {
        font-size: 1.2em;
    }

    .navbar-collapse ul li {
        font-size: 1.5em;
        text-align: center;
    }
}

@media (min-width: 768px) {

    .navbar-brand-small-wrapper {
        display: none;
    }
}

.simple-slider {
    display: block;
    border-top: 1px solid #5e5e5e;
    border-bottom: 1px solid #5e5e5e;
}

.slider-item img {
    width: 100%;
    max-width: 1280px;
}

.company-features {
    background:#fff;
    padding:35px 0 0 0;
}

.container-benefits p {
        font-size: 19px;
}

.benefits {
    padding: 25px 0;
    background: #fff;
    color: #5e5e5e;
    border-bottom: #1B554E4C 4px solid;

}

@media (min-width: 1120px) {
    .benefits {
        padding-left: 120px;
        padding-right: 120px;

    }
}

@media (max-width: 870px) {
    .benefits {
        padding-left: 30px;
    }
}


h3 {
    font-weight: bold;
}

#content {
    background-color: #fff;
    padding-bottom: 10px;
    border-bottom: #1B554E4C 4px solid;
}

.skill-home {
    padding: 40px 20px 10px 20px;
}

.fields {
    padding: 10px 0 20px 0;
    padding-top: 20px;
    background: #fff;
    border-bottom: #1B554E4C 4px solid;
    border-top: #1B554E4C 4px solid;
}

.fields-block {
    padding-bottom: 5px;
}

.textimbox {
    background-color: #EFEFEF;
    margin: 5px 0;
    padding: 1px 15px;
    border-radius: 3px;
    border: #cbcbcb solid 1px;
}

.textimbox h3 {
    margin: 0;
    padding: 22px 0 14px;
    font-size: 18px;
}

.textimbox p {
    font-family: "Raleway";
    color:#333333 ;
}

.img-class {
    text-align: center;
}

.direction-img {
    width: 280px;
    padding: 15px 0;
}

.footer {
    background: #ebecec;
}

.footer-container{
    padding: 20px;
    border-top: #a5a5a5;
    border-radius: 3px;
}

.links > ul > li > a {
    text-decoration: none;
    font-size: 14px;
}

.links span {
    display: block;
    padding-left: 20px;
    padding-bottom: 5px;
}

.footer-contacts a {
    font-family: "Lato";
    font-size: 14px;
    color: #5e5e5e;
}

.footer-contacts {
    padding-top:10px;
    padding-left: 20px;
    display: block;
}

.footer-where {
    padding-top:10px;
    padding-left: 20px;
    display: block;

}

.page-contacts {
    padding: 0 50px 240px 20px;
    border-top: #1B554E4C 4px solid;
    border-bottom: #1B554E4C 4px solid;
    background: #ffffff;
    font-size: 20px;
}

.page-contacts p {
     color: #5e5e5e;
 }

.page-contacts a {
    font-family: "Lato";
    color: #5e5e5e;
}

.page-projects-content {
    border-top: #1B554E4C 4px solid;
    border-bottom: #1B554E4C 4px solid;
    background: #ffffff;
    padding-bottom: 40px;
}
