@import url('https://fonts.googleapis.com/css2?family=Lato&family=Raleway&display=swap');
@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
/*font-family: 'Lato', sans-serif;*/
/*font-family: 'Raleway', sans-serif;*/

body {
    background: #f2f2f2;
    font-family: "Lato";
    font-weight: 300;
    font-size: 16px;
    color: #b4b0b0;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    margin-top: 70px;
    max-width: 1280px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway";
    font-weight: 300;
    color: #333333;
}



p {
    line-height: 28px;
    margin-bottom: 5px;
}

.centered {
    text-align: center;
}

a {
    color: #f85c37
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

a:hover, a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

.navbar {
    font-weight: 800;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 135px;
    max-width: 1280px;
    margin: 0 auto;
    border-radius: unset;
}

.navbar-inverse {
    background: #80716e;
    border-color: #2d2d2d;
}

.navbar-inverse .navbar-nav > .active > a {
    background: #1b1b1b;
    border-radius: 3px;
}

.navbar-collapse {
    margin-top: 10px;
}

.navbar-brand-large {
    padding-top: -10px;
}

.navbar-inverse .navbar-nav>li>a {
    color: #ffffff;
}
.navbar-inverse .navbar-nav>li>a:hover {
    color: #cccccc;
}

navbar-brand-small-wrapper {
    margin: 0 auto;
}

.contact-block {
    display: block;
    text-align: right;
}

.contact-block a {
    color: #ffffff;
}

.contact-block a:hover {
    color: #ccc;
}

@media (max-width: 768px) {
    .navbar-brand-large {
        display: none;
    }
    .navbar-brand-small-wrapper {
        display: block;
        padding-left: 20px;
        padding-top: 10px;
    }

    .contact-block a {
        font-size: 1.2em;
    }

    .navbar-collapse ul li {
        font-size: 1.5em;
        text-align: center;
    }

}

@media (min-width: 768px) {

    .navbar-brand-small-wrapper {
        display: none;
    }
}

/*#headerwrap {*/
/*    background: url("../img/header-img.jpg") no-repeat center top;*/
/*    margin-top: -10px;*/
/*    padding-top: 20px;*/
/*    text-align: center;*/
/*    background-attachment: fixed;*/
/*    background-position: center center;*/
/*    min-height: 500px;*/
/*    width: 100%;*/
/*    max-width: 1280px;*/
/*    -webkit-background-size: cover;*/
/*    -moz-background-size: cover;*/
/*    -o-background-size: cover;*/
/*    background-size: 100%;*/
/*}*/

.simple-slider {
    display: block;
    border-top: 2px solid #5e5e5e;
    border-bottom: 2px solid #5e5e5e;

}

.slider-item img {
    width: 100%;
    max-width: 1280px;
}

.company-features {
    background:#fff;
    padding:10px 0 0 0;
}

.benefits {
    background: #bbb5b5;
    color: #5e5e5e;
    border-top: #554e4c 2px solid;
    border-bottom: #554e4c 2px solid;

}
@media (min-width: 870px) {
    .benefits {
        padding-left: 120px;
    }
}
@media (max-width: 870px) {
    .benefits {
        padding-left: 30px;
    }
}


h3 {
    font-weight: bold;
}

